.nav {
  &_box {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  &_logo {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    gap: 10px;
    &:hover {
      border: 1px solid red;
      svg{
        color: red;
      }
      span {
        color: red;
      }
    }
  }
}
